In [2]:
# DAY 13

In [ ]:
# With one of the above mentioned dataset perform linear regression without importing it.
# Linear regression should not be directly imported

In [3]:
import numpy as np 
import pandas as pd

In [4]:
df=pd.read_csv('./boston_house/HousingData.csv')
print(df.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90    NaN  36.2

In [25]:
df = df.dropna()

In [26]:
x=df.drop('MEDV',axis=1).values
y = df['MEDV'].values.reshape(-1, 1)

In [38]:
ones = np.ones((x.shape[0], 1))      
x_new = np.concatenate((ones, x), axis=1)

In [40]:
x_t = x_new.T
xtx = x_t.dot(x_new)
xtx_inv = np.linalg.inv(xtx)
xty = x_t.dot(y)
theta = xtx_inv.dot(xty)

In [41]:
y_pred = X_new.dot(theta)

In [42]:
error = y - y_pred
mse = np.mean(error ** 2)
print("Mean Squared Error:", mse)

Mean Squared Error: 19.418397930734912

In [31]:
# DAY 14

In [ ]:
# Load the CSV file into a DataFrame
#  Print the dataset shape
# Print unique species

In [34]:
df.shape

(394, 14)

In [36]:
if 'species' in df.columns:
    print("Unique Species are:",df['species'].unique())
else:
    print("No common Speices!")

No common Speices!

In [ ]:
# DAY 15