In [ ]:
# DAY2

In [ ]:
# Generate summary statistics for each feature
# Count the number of samples for each species
# Filter rows where petal length is greater than 1.5
#  Encode the species labels to numeric values
# Create a new column called petal_ratio

In [24]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('../iris/iris.csv')
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
spe=df['Species'].value_counts()
print(spe)

Series([], Name: count, dtype: int64)

In [23]:
print(df[df['PetalLengthCm'] > 1.5])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
5      6            5.4           3.9            1.7           0.4      NaN
11    12            4.8           3.4            1.6           0.2      NaN
18    19            5.7           3.8            1.7           0.3      NaN
20    21            5.4           3.4            1.7           0.2      NaN
23    24            5.1           3.3            1.7           0.5      NaN
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3      NaN
146  147            6.3           2.5            5.0           1.9      NaN
147  148            6.5           3.0            5.2           2.0      NaN
148  149            6.2           3.4            5.4           2.3      NaN
149  150            5.9           3.0            5.1           1.8      NaN

[113 rows x 6 columns]

In [28]:
enc=LabelEncoder()
df['Species']=enc.fit_transform(df['Species'])
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [34]:
df['PetalRatio'] = df['PetalLengthCm'] / df['PetalWidthCm']
# print(df['PetalRatio'].describe)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  \
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

   PetalRatio
0         7.0
1         7.0
2         6.5
3         7.5
4         7.0